@font-face 
{
    font-family: 'abhaya_libreregular';
    src: url('fonts/AbhayaLibre-Regular-webfont.eot');
    src: url('fonts/AbhayaLibre-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AbhayaLibre-Regular-webfont.woff2') format('woff2'),
         url('fonts/AbhayaLibre-Regular-webfont.woff') format('woff'),
         url('fonts/AbhayaLibre-Regular-webfont.ttf') format('truetype'),
         url('fonts/AbhayaLibre-Regular-webfont.svg#abhaya_libreregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1
{
	font-size: 2.5em;
}

h1, h2
{
	font-family: "abhaya_libreregular";
	text-decoration: underline;
	text-align: center;
}

body
{
	display: flex;
	justify-content: space-between;
	background-color: khaki;
	color: black;
}

ul
{
	list-style: none;
}

.block
{
    padding: 10px;
	margin: 5px;	
}

#contact
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.partie
{	
	padding: 10px;
	margin: 5px;
}

#conteneur
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.element
{
	background-color: yellow;
	padding: 10px;
	margin: 5px;
}

.element:nth-child(5)
{
	padding-right: 50px;
	padding-left: 50px;
}

.element:last-child
{
	margin: 15px;
	background-color: orangered;
	font-style: italic;
	font-size: 1.1em;
}

@media all and (min-width: 576px)
{
	.block:first-child
	{
		border: 1px solid black;
		width: 40vh;
		float: left;
		justify-content: top;
		border-radius: 10px;
		box-shadow: 4px 4px 4px black;
		background-color: lightskyblue;
	}
}

@media all and (min-width: 992px)
{
	.block:last-child
	{
     border: 1px solid black;
		width: 40vh;
		float: right;
		justify-content: top;
		border-radius: 10px;
		box-shadow: 4px 4px 4px black;
		background-color: lightskyblue;
	}
}